/* Add a background color and text color to navbar items */
.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    background-color: #fff824;
    /* Background color */
    color: #fff;
    /* Text color */
    padding: 10px;
    /* Add padding to create some space around the text */
    text-align: center;
    /* Center-align the text */
    border-radius: 5px;
    /* Add rounded corners */
    cursor: pointer;
    /* Change cursor on hover */
    transition: background-color 0.3s ease;
    /* Smooth transition for background color */
}

/* Hover effect to change background color on hover */
.navbar__item:hover {
    background-color: #fff824;
    /* Change the background color on hover */
}

/* Add some spacing between navbar items */
.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    gap: 10px;
    /* Adjust the gap between navbar items */
}