.h1,
h1 {
    font-size: 2.5rem;
}

fieldset {
    min-width: 0;
    padding: 1rem 0;
    margin: 0;
    border: 0;
}

.loginLinks {
    display: flex;
    justify-content: center;
    flex-basis: 20%;
    list-style-type: none;
    /* Background color */
    color: #fff;
    /* Text color */
    padding: 10px;
    /* Add padding to create some space around the text */
    text-align: center;
    /* Center-align the text */
    border-radius: 5px;
    /* Add rounded corners */
    cursor: pointer;
    /* Change cursor on hover */
    transition: background-color 0.3s ease;
    /* Smooth transition for background color */
}

/* Style for the button-like links */
.link--register {
    display: inline-block;
    padding: 10px 20px;
    /* Adjust padding as needed */
    background-color: #f7b736;
    /* Button background color */
    color: #fff;
    /* Text color */
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 100px;
    margin-left: 100px;
    /* Add right margin to create space between buttons */
}

/* Hover effect for the buttons */
.link--register:hover {
    background-color: #f7b736;
    /* Change background color on hover */
}
.form--login {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
    padding: 0 0 0 2rem;
    z-index: 1;
    min-height: 25rem;
    min-width: 35rem;
    background-color: hsla(0, 0%, 100%, 0.70);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position-x: right;
    background-image: url(./musicrepairs.png);
    background-size: cover;
}

.form--login>fieldset>input {
    width: 25em;
}

.label--login {
    width: 8rem;
    display: inline-block;
}

.form-control {
    display: block;
    width: 94%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.container--login {
    text-align: center;

}

.button--close {
    position: relative;
    bottom: -2rem;
}

.dialog {
    min-width: 15rem;
    min-height: 5rem;
}